HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

# Logs e arquivos temporários
*.log
*.tmp
*.bak
*.class

# Arquivos de sistema
.DS_Store
Thumbs.db

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/
